:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-image: url(./assets/background.png);
  background-size: cover;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 12px;
  padding: 10px 20px;
  border: 3px solid transparent;
  font-weight: 500;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #1a1a1a;
  cursor: pointer;
  border-color: blue;
  transition: border-color 0.1s, border 0.1s, box-shadow 0.1s;
  
}
button:hover {
  box-shadow: 0 0 0.5rem 0.5rem rgba(41, 4, 229, 0.6);
  border: 5px solid transparent;
  border-color: blueviolet;
}

.red-button{
  background-color: red;
  border-color: darkred;
    transition: border-color 0.1s, border 0.1s, box-shadow 0.1s; 
}
.red-button:hover{
  box-shadow: 0 0 0.5rem 0.5rem rgba(229, 4, 4, 0.6);
  border: 5px solid transparent;
  border-color: rgb(255, 72, 0);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input{
  margin: 1rem;
  padding: 5px 10px;
  background-color: rgb(0, 8, 38);
  color: white;
  font-size: 1rem;
  height: 36px;
  width: 400px;
  text-align: left;
  border: 3px solid transparent;
  border-radius: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color: rgb(255, 255, 255);
}

.list-card {
  background-color: #337dfc;
  padding: 10px 5px 10px 15px;
  color: #ffffff;
  border-width: 4px;
  border-style: outset;
  border-color: rgb(255, 255, 255);
}